.container-fluid {


}










??
h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}



/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 20px;
    border: 0;
    width: 100%;
    font-size: 8pt;
    background-color: #fff;
    color: black;
    border-radius: 2px;
}

input:focus,
textarea:focus { outline: 1; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}
.container-fluid h2 {
  
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-style: none;
    font-size: 28pt;
    color:rgb(175,175,175);
}
textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
??























body {
	background: #ddd;
}


.menu {
	float: right;
	width: 450px;
	font-size: 12pt;
}


.ver1{
	background: url(v5.jpg);
	background-color:none;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

#imagens h1 {
	text-align: center;
	font-family: Arial, sans-serif;
	font-style: none;
	font-size: 28pt;
	color:#000;
	
}























body {
	background: white;
}


#abaixo h4 {

	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	color:rgb(125,125,125);
	
}
#abaixo {
	background-color:black;
	height: 65px;

}
.jumb3 {
	height: 5px;
}

#abaixo a {

	color:white;
}



.jumb2 {
	height: 1px;
	
}















